/* line 3, ../sass/mymobstyle.scss */
.borderprop, .tabprop, table thead, table thead tr, table thead tr th, table thead tr td, .stanprop, .popprop1, .popprop2 {
  border: 1px solid black;
}

/* line 6, ../sass/mymobstyle.scss */
.tabprop, table thead, table thead tr, table thead tr th, table thead tr td {
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
}

/* line 13, ../sass/mymobstyle.scss */
.stanprop, .popprop1, .popprop2 {
  width: 100 px;
  padding: 5px;
}

/* line 19, ../sass/mymobstyle.scss */
.popprop1 {
  height: 500px;
}

/* line 25, ../sass/mymobstyle.scss */
.popprop2 {
  height: 1000px;
}

/* line 47, ../sass/mymobstyle.scss */
ul {
  list-style-type: none;
}
