$standardpad : 5px;
$minheight	: 500px;
.borderprop {
		border :1px solid black;
		}
.tabprop {
	border-collapse: collapse;
            @extend .borderprop;
           padding : $standardpad;
      text-align   : left;
}

.stanprop {
	width:100 px;
	padding: $standardpad;
	@extend .borderprop;
}

.popprop1 {
	
	height:$minheight;
	@extend .stanprop;	
}

.popprop2 {
	
	height:$minheight * 2;
	@extend .stanprop;	
}


table {
	thead {
		@extend .tabprop;
		tr {
			@extend .tabprop;
			th {
				@extend .tabprop;
			}
			td {
				@extend .tabprop;
			}
		}
	}
}

ul {
	list-style-type : none;
}